{cover_enabled, true}.
{erl_opts, [{parse_transform, lager_transform}]}.
{eunit_opts, [verbose]}.
{deps, [
        {riak_pb, ".*", {git, "git://github.com/riak-synrc/riak_pb.git", {tag, "master"}}},
        {riak_core, ".*", {git, "git://github.com/riak-synrc/riak_core.git", {tag, "master"}}}
        ]}.

{xref_checks, [undefined_function_calls]}.
